version: '3'
services:
  database:
    image: postgres
    volumes:
    - db-data:/var/lib/postgresql/data
    ports:
    - 5432:5432
    environment:
      POSTGRES_USER: torrentio
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: torrentio

volumes:
  db-data:
    driver: local